# Ignore all files that are not needed for building the Docker image

# System files
.idea                # JetBrains IDE project files
.vscode              # Visual Studio Code project files
__pycache__/         # Python bytecode cache directory
*.pyc                # Compiled Python files
*.pyo                # Optimized Python files
*.pyd                # Windows Python DLL files
.DS_Store            # macOS Finder metadata files
*.log                # Log files

# Virtual environments
.venv/               # Python virtual environment directory
env/                 # Alternative virtual environment directory
venv/                # Another alternative virtual environment directory

# Git
.git                 # Git repository metadata
.gitignore           # Git ignore file

# Tests and coverage
tests/               # Test files and directories
htmlcov/             # HTML coverage reports
.coverage            # Coverage data file
.coverage.*          # Additional coverage data files
coverage.xml         # XML coverage report
*.cover              # Other coverage-related files

# Documentation
docs/_build/         # Built documentation files
docs/_static/        # Static files for documentation
docs/_templates/     # Template files for documentation

# Other files
.env                 # Environment variable files
*.egg-info/          # Python package metadata
dist/                # Distribution files
build/               # Build files