# System files
.idea/          # IntelliJ IDEA project files
.vscode/        # Visual Studio Code project files
__pycache__/    # Python bytecode cache
*.pyc           # Compiled Python files
*.pyo           # Optimized Python files
*.pyd           # Python dynamic module files
.DS_Store       # macOS Finder metadata
*.log           # Log files

# Virtual environments
.venv/          # Python virtual environment folder
env/            # Alternative virtual environment folder
venv/           # Another alternative virtual environment folder

# Configuration files
.env            # Environment variables file

# Git
.git/           # Git repository folder
.gitignore      # Git ignore file

# Tests and coverage
tests/__pycache__/ # Bytecode cache for test files
htmlcov/        # HTML coverage reports
.coverage       # Coverage data file
.coverage.*     # Coverage data files with extensions
coverage.xml    # Coverage report in XML format
*.cover         # Coverage-related files

# Documentation
docs/_build/    # Sphinx build directory
docs/_static/   # Sphinx static files
docs/_templates/ # Sphinx templates

# Other files
*.egg-info/     # Egg metadata
dist/           # Distribution files
build/          # Build directory
develop-eggs/   # Development egg files
downloads/      # Downloaded files
eggs/           # Egg files
.eggs/          # Egg metadata directory
lib/            # Library files
lib64/          # 64-bit library files
parts/          # Build parts
sdist/          # Source distribution
var/            # Variable files
wheels/         # Wheel distribution files
MANIFEST        # Manifest file
*.egg           # Egg files
.installed.cfg  # Installed configuration file